img.animeImg {
    transition: all .2s ease-in-out;
}
img.animeImg:hover {
    transform: scale(1.03);
}
.myFooter {
    left: 0;
    bottom: 0;
    text-align: center;
    justify-content: center;
}

.customHeight {
    min-height: calc(100vh - 153px);
}

.sliderHeight {
    max-height: 250px;
}

