img.animeImg {
    transition: all .2s ease-in-out;
}
img.animeImg:hover {
    transform: scale(1.03);
}

option, input {
    box-sizing: border-box;
    padding: 8px;
}
select {
    padding: 9px;
    box-sizing: border-box;
}


.myFooter {
    left: 0;
    bottom: 0;
    text-align: center;
    justify-content: center;
}

.customHeight {
    min-height: calc(100vh - 153px);
}

.sliderHeight {
    max-height: 270px;
}

.tariffTable th, td{ 
    padding: 10px;
    border: 1px black;
}

.tariffTable th{ background-color: #ffc107;}

.tariffTable tr:nth-child(even){background-color: #f2f2f2;}

